trigger:
- master

variables:
  freetypeVersion: '2-11-1'

jobs:
- job: BuildWindows
  displayName: Build Windows
  pool:
    vmImage: windows-2022
  steps:
    - template: azure/build.yml
    - template: azure/upload.yml

- job: BuildLinux
  displayName: Build Linux
  pool:
    vmImage: ubuntu-22.04
  steps:
    - template: azure/build.yml
    - template: azure/upload.yml
